src/PackageInstaller/Web References/TdsPackageInstaller/tdspackageinstaller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hhogdev.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hhogdev.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hhogdev.com/">
      <s:element name="InstallPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallPackageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallPackageSoapIn">
    <wsdl:part name="parameters" element="tns:InstallPackage" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSoapOut">
    <wsdl:part name="parameters" element="tns:InstallPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="TdsPackageInstallerSoap">
    <wsdl:operation name="InstallPackage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Installs a TDS package.</wsdl:documentation>
      <wsdl:input message="tns:InstallPackageSoapIn" />
      <wsdl:output message="tns:InstallPackageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TdsPackageInstallerSoap" type="tns:TdsPackageInstallerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap:operation soapAction="http://hhogdev.com/InstallPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TdsPackageInstallerSoap12" type="tns:TdsPackageInstallerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap12:operation soapAction="http://hhogdev.com/InstallPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TdsPackageInstaller">
    <wsdl:port name="TdsPackageInstallerSoap" binding="tns:TdsPackageInstallerSoap">
      <soap:address location="http://test.garcia-sitecore/_dev/tdspackageinstaller.asmx" />
    </wsdl:port>
    <wsdl:port name="TdsPackageInstallerSoap12" binding="tns:TdsPackageInstallerSoap12">
      <soap12:address location="http://test.garcia-sitecore/_dev/tdspackageinstaller.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>